EXPO_PUBLIC_SUPABASE_URL=https://kkygslmjtxfcsljnkqsa.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtreWdzbG1qdHhmY3Nsam5rcXNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNTI5ODAsImV4cCI6MjEwMzkyODk4MH0.SMRddF-Kyp14xNejgspi3AZEe5Pfrpj1OSNA6MQxTLE